@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

:root {
  font-size: 62.5%;
}

body {
  background: #160727;
  color: #fff;
  font-weight: 400;
  min-width: 37.5rem;
}

main {
  min-width: 37.5rem;
}

header {
  text-align: center;
}

header button {
  display: none;
}

header img {
  width: 20rem;
  height: 10rem;
  margin-top: 3rem;
}

.container {
  text-align: center;
  color: #fff;
}

.container__titulo {
  font-size: 2.5rem;
  font-weight: 400;
  width: 40rem;
  margin: 0 auto;
  color: #03da7d;
}

.container__texto {
  text-align: center;
  font-family: Fredoka;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 1rem auto 0;
  width: 34rem;
}

.container__video {
  text-align: center;
}

.container__video-layer {
  width: 33rem;
  height: 21rem;
  background: linear-gradient(#160727, #160727) padding-box,
    linear-gradient(140deg, #03da7d, #8e7de4 85% 100%) border-box;
  border-radius: 1.5rem;
  border: 4px solid transparent;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  color: #040840;
  padding: 0.5em 1.5em;
  cursor: pointer;
  margin: 3.4rem auto 1.9rem;
}

.container button {
  padding: 0.5rem 2rem;
}
button a {
  text-decoration: none;
  color: #160727;
  font-size: 1.8rem;
  font-weight: bold;
}

button {
  background: #03da7d;
  border-radius: 2rem;
  border: none;
  margin: 0 auto 2rem;
}

.container__texto-buy {
  margin: 2rem auto;
  font-weight: 400;
  color: #fff;

  text-align: center;
  font-family: Fredoka;
  font-size: 1.65rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 30rem;
}

.alunos {
  text-align: center;
  margin-bottom: 3.7rem;
}

.alunos__number {
  font-size: 15rem;
}

.alunos__texto {
  font-size: 2.7rem;
  width: 28rem;
  height: 6.3rem;
  margin: 0 auto;
  line-height: normal;
  font-weight: 400;
}

.alunos__texto span {
  font-size: 2.7rem;
  color: #8e7de4;
  font-weight: 400px;
}

.feedback {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.depoimentos-web {
  display: none;
}

.feedback__number {
  font-size: 2rem;
  width: 25rem;
  margin: 0 auto 3.7rem;
  font-weight: 400;
}

.feedback__number span {
  font-size: 2rem;
  color: #03da7d;
  font-weight: 400;
}

.feedback-1 {
  margin-bottom: 2rem;
}

.feedback button {
  padding: 0.6rem 2rem;
}

.feedback-1 {
  width: 90%;
}

.swiper {
  display: block;
}

.lettering {
  margin-bottom: 3.3rem;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: none;
}

.lettering__cerebro p {
  display: inline-block;
  color: #03da7d;
}

.lettering__cerebro img {
  height: 1.5rem;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.lettering__cerebro {
  display: inline-block;
  gap: 0.8rem;
  align-items: center;
  animation: 30s slide infinite linear;
}

.lettering__lampada p {
  color: #8e7de4;
  display: inline-block;
}

.lettering__lampada img {
  height: 2rem;
}

@keyframes slidex {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.lettering__lampada {
  display: inline-block;
  align-items: center;
  gap: 0.5rem;
  animation: 5s slidex infinite linear;
}

@keyframes slidey {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.lettering__balao {
  display: flex;

  padding: 0 6rem;
  white-space: nowrap;
  animation: 3s slidey linear infinite;
}

.about {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 10rem;
}

.about img {
  width: 30rem;
  height: 40rem;
}

.about__titulo-web {
  display: none;
}

.about__titulo {
  font-size: 2.5rem;
  width: 16.9rem;
  height: 6.7rem;
  font-family: "Fredoka";
  font-weight: 400;
  margin: 0 auto;
  display: block;
}

.about__texto1 {
  width: 35rem;
  margin: 1rem auto 0;
  font-size: 1.8rem;
}

.about__texto {
  width: 33rem;
  margin: 1rem auto 0;
  font-size: 1.8rem;
}

.modulos {
  text-align: center;
}

.imagem__2 {
  display: none;
}

.modulos img {
  margin-top: 1.4rem;
  min-width: 80%;
}

.botao__modulos {
  text-align: center;
  margin: 1.7rem auto 0.5rem;
}

.modulos__botao {
  background: #03da7d;
  padding: 0.7rem 1rem;
  text-align: center;
  margin-top: 2rem;
}

.modulos__botao a {
  font-size: 1.5rem;
  font-weight: 600;
}

.metodo {
  text-align: center;
  margin: 3rem auto 0;
}

.metodo img {
  width: 100;
}

.conteudo {
  text-align: center;
  margin: 0 auto 1.5rem;
}

.conteudo button {
  padding: 0.3rem 1rem;
}

.titulo__conteudo {
  display: block;
}

.titulo__conteudo-2 {
  display: none;
}
.videos {
  text-align: center;
}

.videos__titulos {
  color: #03da7d;
  text-align: center;
  font-family: "Fredoka";
  font-size: 1rempx;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 26.7rem;
  margin: 0 auto 3rem;
}

.videos__botoes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 2rem;
  justify-items: center;
}

.videos__botoes button {
  border-radius: 15px;
  background: #545454;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 1rem 0;
}

.videos__botoes a {
  color: #03da7d;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Fredoka;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0.4rem;
}

.layer-videos {
  width: 33rem;
  height: 21rem;
  background: linear-gradient(#160727, #160727) padding-box,
    linear-gradient(140deg, #03da7d, #8e7de4 85% 100%) border-box;
  border-radius: 1.5rem;
  border: 4px solid transparent;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  color: #040840;
  padding: 0.5em 1.5em;
  cursor: pointer;
  margin: 3.4rem auto 1.9rem;
}

.planos {
  text-align: center;
}

.planos__titulo {
  margin: 0 auto;
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Fredoka;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 25.1rem;
  height: 6.3rem;
}

.planos__titulo span {
  color: #03da7d;
  font-family: "Fredoka";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.planos__1 {
  margin: 3rem 0;
}

.garantia {
  text-align: center;
  background: #f5f5f5;
  color: #000;
  width: 25rem;
  height: auto;
  border-radius: 1.5rem;
  padding: 1.5rem;
  margin: 6rem auto;
}

.garantia p {
  font-size: 1.5rem;
}

.faq {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}

.faq__titulo {
  color: #f5f5f5;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Fredoka;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.faq__pg1 {
  justify-content: center;
}

.pg1__info {
  position: relative;
  width: 90%;
  background: #f5f5f5;
  border-radius: 1.5rem;
  background: linear-gradient(transparent, transparent) padding-box,
    linear-gradient(165deg, #21df8d, #fff 95% 100%) border-box;
  border-radius: 1.5rem;
  border: 3px solid transparent;
  position: relative;
  margin: 0 auto;
}

.pg1__info #input {
  position: absolute;
  opacity: 0;
}

.pg1__info label {
  display: flex;
  align-items: center;
  color: #000;
  height: 23rem;
  border-radius: 1.5rem;
  background: #f5f5f5;
  padding: 0 4rem;
  height: 5rem;
}

.seta {
  position: absolute;
  top: 1.3rem;
  left: 2%;
  color: #fff;
  padding: 0.3rem 0.3rem 0 0.3rem;
  background: #8e7de4;
  border-radius: 12rem;
}
.faq__resposta {
  max-height: 0;
  overflow: hidden;
}

.faq__resposta > p:checked {
  max-height: 100%;
}

.pg1__info:nth-child(4):checked {
  max-height: 100%;
}

.pg1__info div p {
  color: #000;
  background: #f5f5f5;
}

.texto-e-imagem {
  display: flex;
  width: 30rem;
  margin: 0 auto;
}

.texto-e-imagem p {
  width: 15rem;
}

.texto-e-imagem img {
  width: 15rem;
}

.Footer__logo {
  display: flex;
  margin: 3rem auto 0;
  width: 20rem;
}

.redes__sociais {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

ul li {
  list-style: none;
  height: 10rem;
}

@media screen and (min-width: 1400px) {
  header {
    display: flex;
    justify-content: space-between;
    height: 12rem;
    margin: 1rem 3rem 0;
    align-items: center;
  }

  header img {
    margin: 0;
  }

  header button {
    display: block;
    margin: 0 4rem 0 0;
    padding: 0.5rem 2rem;
  }

  .container__titulo {
    display: block;
    font-size: 6rem;
    margin: 0 auto;
    width: 80rem;
    color: #03da7d;
  }

  .container__texto {
    font-size: 3rem;
    width: 65rem;
  }

  .container__video-layer {
    width: 127.4rem;
    height: 62.8rem;
  }

  .container button {
    padding: 0.5rem 4rem;
  }

  .container button a {
    font-size: 3rem;
  }

  .container__texto-buy {
    font-size: 4rem;
    width: 100rem;
  }

  .alunos {
    display: flex;
    margin: 7rem auto;
    justify-content: space-between;
    width: 115.7rem;
    height: 28.5rem;
    align-items: center;
    gap: 2rem;
  }

  .alunos__number {
    font-size: 30rem;
  }

  .alunos__texto {
    margin: 0;
    font-size: 5.4rem;
    width: 57.1rem;
    height: 22.8rem;
  }

  .alunos__texto span {
    font-size: 5.4rem;
  }

  .feedback {
    display: none;
  }

  .depoimentos-web {
    display: block;
    text-align: center;
  }

  .depoimentos-web h2 {
    font-size: 3.5rem;
    width: 82rem;
    margin: 3rem auto;
  }
  .depoimentos-web h2 span {
    font-size: 3.5rem;

    color: #03da7d;
    font-weight: 400;
  }

  .depoimentos__imagens {
    display: flex;
    margin: 0 9.5rem;
    text-align:  center;
    gap: 2rem;
  }
  .depoimentos__um {
    width: 90%;
    margin-bottom: 2rem;
  }

  .depoimentos__um img {
    width: 100%;
    margin-bottom: 2rem;
  }

  .depoimentos__dois {
    width: 90%;
    margin-bottom: 2rem;
  }

  .depoimentos__dois img {
    width: 100%;
    margin-bottom: 2rem;
  }

  .depoimentos-web button {
    padding: 0.5rem 5rem;
  }

  .depoimentos-web a {
    font-size: 3rem;
  }

  .about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 8rem 10rem;
  }

  .about img {
    width: 65rem;
    height: 63rem;
  }

  .about__titulo {
    display: none;
  }

  .about__infos p {
    font-size: 2.8rem;
    margin-bottom: 2rem;
    width: 70rem;
  }

  .about__titulo-web {
    display: block;
    text-align: center;
    margin-top: 3rem;
    font-size: 5rem;
    font-weight: 400;
  }
  .modulos {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .imagem__1 {
    display: none;
  }

  .imagem__2 {
    width: 100%;
    display: inline-block;
  }

  .metodo button {
    display: none;
  }

  .metodo img {
    width: 70%;
    margin: 5rem 0 -10rem 0;
  }

  .titulo__conteudo {
    display: none;
  }

  .conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -3rem 12rem;
  }

  .conteudo img {
    width: 65rem;
  }

  .titulo__conteudo-2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    display: block;
  }

  .conteudo button {
    font-size: 3rem;
    padding: 1rem 4rem;
  }

  .videos__botoes {
    margin: 0 14rem;
    row-gap: 1rem;
  }

  .videos__titulos {
    font-size: 3rem;
    margin-top: 5rem;
    width: 50rem;
  }

  .videos__botoes button {
    width: 30rem;
    height: 6.5rem;
    border-radius: 3rem;
  }

  .videos__botoes button a {
    font-size: 2.5rem;
  }

  .layer-videos {
    width: 127.4rem;
    height: 62.8rem;
  }

  .planos__titulo {
    width: 70rem;
    font-size: 4rem;
    margin: 8rem auto;
  }
  .planos__titulo span {
    font-size: 4rem;
  }

  .planos img {
    margin: 0;
    width: 53.7rem;
    height: 92.4rem;
  }

  .garantia {
    width: 61.2rem;
    height: 76.8rem;
  }

  .garantia img {
    width: 58.4rem;
    height: 46.4rem;
  }

  .garantia p {
    font-size: 3.5rem;
  }

  .faq__titulo {
    font-size: 5.5rem;
    margin-bottom: 4rem;
  }

  .faq__pg1 {
    width: 80%;
    margin: 0 auto;
  }

  .pg1__info {
    position: relative;
    width: 90%;
    background: #f5f5f5;
    border-radius: 1.5rem;
    background: linear-gradient(transparent, transparent) padding-box,
      linear-gradient(165deg, #21df8d, #fff 95% 100%) border-box;
    border-radius: 1.5rem;
    border: 5px solid transparent;
    position: relative;
    margin: 0 auto;
  }

  .seta {
    position: absolute;
    top: 1.3rem;
    left: 2%;
    color: #fff;
    padding: 0.5rem 0.5rem 0 0.5rem;
    background: #8e7de4;
    border-radius: 12rem;
  }

  .pg1__info label {
    padding-left: 7rem;
    font-size: 2.5rem;
  }
}
